.lesson {
  width: 200px; 
  height: auto;
}

.title {
  color: darkblue;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange;
}
#section1 {
  background-color: purple;
  color: yellow;
}
.section-blue {
  background-color:blue ;
  color: orange;
}
.container {
  background-color: black;
}
.section-white {
  color: white;
}
#section-6 {
  color: yellow;
}
#photo {
  width: 100%;
  height: auto;
}
#activties {
  font-weight: bolder;
}
#Coffee-recs {
  font-size: 24px;
}
#random {
  line-height:50px ;
}
.section2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}